<header class="bg-custom-white text-white shadow-lg">
  <div class="container mx-auto px-4 py-3 flex justify-between items-center">
      <div class="flex items-center gap-4">
          <div class="font-bold text-xl">
              <a href="/" class="text-lg hover:text-gray-300">
                  <img src="https://www.secresaludguaviare.gov.co/SSG/Imagenes_Ppal/ZADRES.png" class="w-20 h-auto" />
              </a>
          </div>
      </div>
      <div class="flex gap-4">
          <a href="/adquisiciones" class="text-custom hover-custom px-4 py-2 border-none">Agregar Adquisición</a>
          <a href="/visualizar" class="text-custom hover-custom px-4 py-2 border-none">Visualizar Adquisición</a>
      </div>
  </div>
</header>
