@{
    ViewData["Title"] = "Home Page";
}

<div class="fondo-inicio">
    <div class="text-center p-4 bg-custom text-white rounded shadow-lg w-100" >
        <div class="d-flex justify-content-center mb-3">
            <img src="https://www.secresaludguaviare.gov.co/SSG/Imagenes_Ppal/ZADRES.png" class="img-fluid">
        </div>
        <h1 class="fs-2 fw-bold">Bienvenido a la App de Gestión de Adquisiciones</h1>
        <p class="fs-5">En esta aplicación podrás administrar de manera eficiente todas las adquisiciones de bienes y servicios, llevando un control completo de cada solicitud.</p>
        <p class="fs-6">Consulta, crea, edita y desactiva adquisiciones de manera fácil, y mantiene un historial detallado de todas las transacciones.</p>
    </div>
</div>
