.fondo-inicio {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5); /* Ajusta la opacidad si es necesario */
}

.bg-custom {
    background: rgba(0, 123, 255, 0.75); /* Personaliza el color de fondo */
}
